/** @format */

.search {
  margin: 0 auto;
  height: fit-content;
  width: 100%;
  position: relative;
}

.search.border-b-0 input {
  border-bottom-left-radius: none;
  border-bottom-right-radius: none;
}

.search.border-b-6 input {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.search input {
  width: 100%;
  height: 46px;
  padding: 11px 40px;
  font-size: 16px;
  border-top-right-radius: 24px;
  border-top-left-radius: 24px;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24);
  border: none;
  background-color: white;
}

.search input:focus {
  outline: none;
}

.search .search-icon-wrapper,
.search .close-icon-wrapper {
  position: relative;
  padding: 0 14px;
}

.search-icon,
.history-icon {
  font-size: 20px;
  color: #a8a8a8;
}

.close-icon {
  font-size: 25px;
  color: #5e5e5e;
}

.search .search-icon-wrapper .search-icon,
.search .search-icon-wrapper .history-icon {
  position: absolute;
  top: 13px;
}

.search .close-icon-wrapper .close-icon {
  position: absolute;
  right: 15px;
  top: -36px;
}

.search .autocomplete-list {
  background-color: white;
  list-style: none;
  box-shadow: 0 2px 8px 1px rgba(64, 60, 67, 0.24),
    0 -1px 0 0 rgba(255, 255, 255, 1);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 10px 0;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.search .autocomplete-list .autocomplete-list-row {
  display: flex;
  align-items: center;
  gap: 7px;
  margin-bottom: 10px;
  padding: 0 14px;
  height: 32px;
}

.search .autocomplete-list .autocomplete-list-row:hover {
  background-color: #eeeeee;
  width: 100%;
  cursor: default;
}

.search .autocomplete-list .autocomplete-list-row .title-row p {
  text-transform: lowercase;
}

.search .autocomplete-list .autocomplete-list-row .title-row p.history {
  color: #551a8b;
}

.search .autocomplete-list .autocomplete-list-row .title-row button{
    cursor: pointer;
    color: #a8a8a8;
    text-transform: capitalize;
}

.search .autocomplete-list .autocomplete-list-row .title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}


